# Python
__pycache__
*.pyc
*.egg-info
dist

# Log
*.log
*.log.*
*.json
*.jsonl

# Data
!**/alpaca-data-conversation.json

# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output

checkpoints
ckpts*

.ipynb_checkpoints
*.ipynb

# model
*.pt
MMVP_Model
llavamodel

# eval
MMVP_eval

# dataset
dataset/

# DevContainer
!.devcontainer/*

# Demo
serve_images/
