# Python
__pycache__
*.pyc
*.egg-info
dist

# Log
*.log
*.log.*
*.json
*.jsonl

# Data
!**/alpaca-data-conversation.json

# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output

checkpoints*
ckpts*

.ipynb_checkpoints
*.ipynb

# model
*.pt
MMVP_Model
llavamodel

# eval
MMVP_eval

# dataset
dataset/

# benchmark
spatialLLaVA/llava/eval/

# DevContainer
!.devcontainer/*

# Demo
serve_images/

# Other
MoGeonly/
.editorconfig
cog.yaml
editorconfig.txt
flash_attn-2.7.3*
outputs/
parameters/
requires_grad/
saved_images
test_images

requires_grad*
saved_images.zip
sllava*
sscript*
dinov2*
SSpatialGeo*